@define-color   base            #262626;
@define-color   border          #ffffff;
@define-color   text            #bdbdbd;
@define-color   text-selected   #ffffff;

* {
    font-family: 'JetBrainsMono Nerd Font', monospace;
}

/* Window */
window {
    margin: 0px;
    padding: 24px;
    border-radius: 4px;
    background-color: @base;
    animation: slideIn 0.15s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Inner Box */
#inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @base;
    animation: fadeIn 0.15s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Outer Box */
#outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @base;
}

/* Text */
#text {
    margin: 5px;
    font-size: 48px;
    border: none;
    color: @text;
    animation: fadeIn 0.5s ease-in-out both;
}

#entry {
    background-color: @base;
}

#entry arrow {
    border: none;
    color: @border;
}

/* Selected Entry */
#entry:selected {
    padding: 20px 0;
    border: 0.11em solid @border;
}

#entry:selected #text {
    color: @text-selected;
}
