@define-color background          #C52F53;
@define-color text-color          #F48EA2;
@define-color selected-text-color #FAB8BF;

* {
    font-weight: bold;
    font-family: 'JetBrainsMono NF';
}

window#waybar {
    background: rgba(0,0,0,0.5);
    color     : @text-color;
}

#pulseaudio,
#backlight,
#battery,
#custom-player,
#bluetooth,
#clock,
#window,
#tray {
    background-color: @background;
    color           : inherit; 
    padding         : 0 12px;
    margin          : 4px;
    border-radius   : 8px;
}

window#waybar.empty #window {
  background-color: transparent;
}

window#waybar.solo #window {
  background-color: @background;
}

#pulseaudio {
  margin       : 4px 0px;
  border-radius: 8px 0px 0px 8px;
}

#backlight {
  margin       : 4px 0px; 
  border-radius: 0px;
}

#battery {
  margin-left  : 0px;
  border-radius: 0px 8px 8px 0px;
}

#workspaces {
    background-color: @background;
    color           : inherit;
    margin          : 4px;
    padding         : 4px;
    padding-left    : 6px;
    border-radius   : 8px;
}

#workspaces button {
    background-color: transparent;
    color           : inherit;
    margin-right    : 10px;
    padding         : 0 12px;
}

#workspaces button.active {
    background-color: transparent;
    color           : @selected-text-color; 
}
